{
  "presets": ["next/babel"],
  "env": {
    "production": {
      "plugins": [["transform-remove-console"]]
    },
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "ssr": true,
            "namespace": "lstnr"
          }
        ]
      ]
    }
  }
}
